## 7.2. Lojistik Regresyon - Odev

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
# Titanic verilerini Kaggle'dan indirin. Buradaki train.csv dosyasındaki veriler ihtiyacınızı görecektir.

titanic = pd.read_csv('titanic_train.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(titanic.shape)

(891, 12)

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
titanic = titanic.drop(['Cabin'], axis=1)

In [7]:
titanic = titanic.dropna()

In [8]:
print(titanic.shape)

(712, 11)

In [9]:
titanic['Sex'] = titanic.Sex.replace({'female':1, 'male':0})

In [10]:
# Verilerinizi eğitim ve test kümelerine ayırın.

X = titanic[['Age','Sex','Pclass']]
Y = titanic.Survived
X_egitim,X_test,Y_egitim,Y_test = train_test_split (X,Y,test_size=0.20,random_state=111)

In [12]:
# Modelinizi oluşturarak ayırdığınız test kümesindeki verilere göre hayatta kalma durumlarını tahmin edin

log_reg = LogisticRegression()
log_reg.fit(X_egitim, Y_egitim)

LogisticRegression()

In [13]:
tahmin_degerleri = np.array([[38,1,1] , [26,1,3]])
print(log_reg.predict(tahmin_degerleri))

# her iki ornegi de veri setinden aldim. Sonuclari dogru tahmin etti.

[1 1]

In [14]:
# Modelinizin performansı tatmin edici mi? Açıklayın.

egitim_perf = log_reg.score(X_egitim, Y_egitim)
test_perf = log_reg.score(X_test, Y_test)
print ('One_vs_Rest', '-'*20,
      'Modelin egitim verisindeki performansi: {:.2f}'.format(egitim_perf),
      'Modelin test verisindeki performansi: {:.2f}'.format(test_perf), sep='\n')

One_vs_Rest
--------------------
Modelin egitim verisindeki performansi: 0.80
Modelin test verisindeki performansi: 0.79

In [15]:
# Bazı değişkenleri ekleyerek veya çıkararak modelinizi tahmin performansı açısından geliştirmeye çalışın.

X = titanic[['Age','Sex']]
Y = titanic.Survived
X_egitim,X_test,Y_egitim,Y_test = train_test_split (X,Y,test_size=0.20,random_state=111)

In [16]:
log_reg = LogisticRegression()
log_reg.fit(X_egitim, Y_egitim)

LogisticRegression()

In [17]:
egitim_perf = log_reg.score(X_egitim, Y_egitim)
test_perf = log_reg.score(X_test, Y_test)
print ('One_vs_Rest', '-'*20,
      'Modelin egitim verisindeki performansi: {:.2f}'.format(egitim_perf),
      'Modelin test verisindeki performansi: {:.2f}'.format(test_perf), sep='\n')

One_vs_Rest
--------------------
Modelin egitim verisindeki performansi: 0.78
Modelin test verisindeki performansi: 0.78

In [18]:
# degiskenlerden birisini cikardigimda modelin performansi cok yakin olmasina ragmen biraz daha dusuk cikti.